/* pages/home/home.wxss */
page {
  background-color: #f7f7f7;
}
page::after {
  content: "";
  position: fixed;
  left: 0;
  bottom: -98rpx;
  width: 100%;
  height: 98rpx;
  background-color: #48b25a;
  z-index: 9999;
  box-shadow: 0px -2px 10px 0px rgba(38, 38, 38, 0.1);
}
.banner666 {
  position: fixed;
  top: 0;
  /*  #ifdef  H5  */
  /* top: calc(88rpx + constant(safe-area-inset-top));
  top: calc(88rpx + env(safe-area-inset-top)); */
  /*  #endif  */
  z-index: -1;
}
.realtit {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 63rpx;
  z-index: 999;
  font-size: 38rpx;
  font-weight: 800;
  font-family: PingFang SC;
  color: #fff;
}
.tit {
  z-index: 999;
  font-size: 38rpx;
  font-weight: 800;
  font-family: PingFang SC;
  color: #fff;
}
.top666 {
  text-align: center;
  position: fixed;
  z-index: 99;
}
.nav666 {
  position: fixed;
  top: 160rpx;
  left: 30rpx;
}
.nav666 .input {
  position: relative;
}
.nav666 .input .search {
  position: absolute;
  left: 23rpx;
  top: 15rpx;
  height: 28rpx;
  width: 28rpx;
}
.nav666 .input .searchbtn {
  text-align: left;
  position: absolute;
  left: 0;
  padding-left: 68rpx !important;
  width: 400rpx;
  height: 58rpx;
  background: #ffffff;
  box-shadow: -1rpx 2rpx 9rpx 1rpx rgba(43, 90, 255, 0.1);
  border-radius: 29rpx;
  font-size: 28rpx;
  line-height: 58rpx;
  color: #a3a3a3;
}
.nav666 .servetime {
  padding-left: 20rpx;
  position: relative;
  left: 444rpx;
  width: 248rpx;
  height: 58rpx;
  background: #ffffff;
  box-shadow: -1rpx 2rpx 9rpx 1rpx rgba(43, 90, 255, 0.1);
  border-radius: 10rpx;
  font-size: 28rpx;
  line-height: 58rpx;
  color: #a3a3a3;
}
.nav666 .servetime .rili {
  position: absolute;
  left: 17rpx;
  top: 15rpx;
  height: 28rpx;
  width: 28rpx;
}
.list {
  margin-top: 250rpx;
  padding: 0 30rpx;
  height: 83vh;
  overflow-y: auto;
}
view.item {
  margin-bottom: 20rpx;
  display: flex;
  padding: 25rpx 33rpx;
  width: 100%;
  background-color: #fff;
  box-shadow: -1rpx 2rpx 10rpx 0rpx rgba(38, 38, 38, 0.04);
  border-radius: 12rpx;
}
view.item view.left {
  border-right: 1rpx solid #d8d8d8;
  flex: 2;
}
view.item view.left view.name {
  font-size: 30rpx;
  font-family: PingFang SC;
  font-weight: bold;
  color: #282f3a;
}
view.item view.left view.detail {
  margin: 25rpx 0;
  font-size: 26rpx;
  font-family: PingFang SC;
  font-weight: bold;
  color: #000000;
}
view.item view.left view.detail text.hcb {
  margin-left: 50rpx;
}
view.item view.left view.text0 {
  font-size: 20rpx;
  font-family: PingFang SC;
  color: #81889a;
}
view.item view.left view.text0 .icon {
  vertical-align: bottom;
  width: 25rpx;
  height: 25rpx;
  margin-right: 8rpx;
}
view.item view.left view.text0 text.text2 {
  margin-right: 10rpx;
}
view.item view.right {
  flex: 1;
}
view.item view.right .light {
  font-size: 32rpx;
}
view.item view.right .price {
  margin: 50rpx 0 45rpx 43rpx;
  font-size: 52rpx;
  font-family: DIN;
  font-weight: bold;
  color: #ff5543;
}
view.item view.right .gobtn {
  margin-left: 43rpx;
  padding: unset;
}
view.item view.right .gobtn .van-button {
  width: 160rpx !important;
  height: 58rpx !important;
  border-radius: 10px !important;
  background-color: #3488f8 !important;
}
view.item view.right .gobtn .van-button .van-button__text {
  line-height: 58rpx !important;
  font-size: 28rpx !important;
  font-family: PingFang SC !important;
  color: #ffffff !important;
}
.getsucessbox {
  position: relative;
  width: 477rpx;
  height: 706rpx;
  background-color: transparent;
}
.getsucessbox .sucesspic {
  left: 0;
  top: 0;
  position: absolute;
  width: 463rpx;
  height: 463rpx;
}
.getsucessbox .getsucessconte {
  text-align: center;
  overflow: hidden;
  font-weight: 500;
  margin-top: 195rpx;
  width: 477rpx;
  height: 511rpx;
  background-color: #fff;
  border-radius: 20rpx;
}
.getsucessbox .getsucessconte .text {
  margin-top: 231rpx;
  font-size: 32rpx;
  font-family: Source Han Sans CN;
  color: #459bfc;
}
.getsucessbox .getsucessconte .orderdetailBtn .van-button {
  margin: 88rpx auto 20rpx !important;
  width: 400rpx !important;
  height: 80rpx !important;
  background: #459bfc !important;
  border-radius: 44rpx !important;
}
.getsucessbox .getsucessconte .orderdetailBtn .van-button .van-button__text {
  line-height: 80rpx !important;
  font-size: 32rpx !important;
  font-family: Source Han Sans CN !important;
  font-weight: 400 !important;
  color: #ffffff !important;
}
.getsucessbox .getsucessconte .back {
  font-size: 26rpx;
  font-family: Source Han Sans CN;
  font-weight: 400;
  color: #858585;
}
