.nav1 {
  position: fixed;
  padding-top: 50rpx;
  top: 0;
  width: 100%;
  height: 128rpx;
  background-color: #4178f0;
  text-align: center;
}
.nav .back {
  position: absolute;
  top: 63rpx;
  left: 13rpx;
  width: 20rpx;
  height: 35rpx;
}
.nav .title {
  font-size: 40rpx;
  font-family: PingFang SC;
  color: #ffffff;
}
page {
  padding-top: 128rpx;
  background: #FAFBFFFF;
}
.steps {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding: 0 34rpx;
  font-size: 28rpx;
  font-family: PingFang;
  font-weight: 400;
  color: #e6e6e6;
}
.wrz {
  padding-left: 30rpx;
  display: flex;
  align-items: center;
  font-size: 28rpx;
  font-family: PingFang;
  color: #5C5C5CFF;
  font-weight: 400;
  margin-top: 10rpx;
}
.wrz .gant {
  font-size: 0;
  width: 26rpx;
  height: 26rpx;
  vertical-align: middle;
  margin-right: 20rpx ;
}
.explain {
  margin-left: 30rpx;
  margin-top: 45rpx;
  height: 70rpx;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20rpx;
  font-family: PingFang;
  color: #999999FF;
}
.rzlist {
  width: 703rpx;
  height: 143rpx;
  margin-left: 23rpx ;
  display: flex;
  margin-top: 32rpx;
  position: relative;
}
.rzlist .cuboid {
  width: 703rpx;
  height: 143rpx;
  position: fixed;
  z-index: -999;
}
.rzlist .glimg {
  margin-left: 33rpx;
  margin-top: 42rpx;
}
.rzlist .glimg image {
  width: 53rpx;
  height: 60rpx;
}
.rzlist .rzxx {
  margin-left: 32rpx;
}
.rzlist .rzxx view:nth-child(1) {
  font-size: 36rpx;
  font-family: PingFang SC;
  font-weight: 600;
  color: #282626;
  text-align: start;
  margin-top: 28rpx;
}
.rzlist .rzxx view:nth-child(2) {
  font-size: 20rpx;
  font-family: PingFang;
  font-weight: 400;
  color: #878787;
  margin-top: 6rpx;
}
.rzlist .aswitch {
  font-size: 26rpx;
  font-family: PingFang;
  color: #FFFFFFFF;
  position: absolute;
  top: 87rpx;
  left: 622rpx;
  transform: rotate(-45deg);
}
