/* pages/zgrz/zgrz.wxss */
.nav {
  position: fixed;
  padding-top: 50rpx;
  top: 0;/*  #ifdef  H5  */
  top: calc(88rpx + constant(safe-area-inset-top));
  top: calc(88rpx + env(safe-area-inset-top));/*  #endif  */
  width: 100%;
  height: 128rpx;
  background-color: #4178f0;
  text-align: center;
}
.nav .back {
  position: absolute;
  top: 63rpx;
  left: 13rpx;
  width: 20rpx;
  height: 35rpx;
}
.nav .title {
  font-size: 40rpx;
  font-family: PingFang SC;
  color: #ffffff;
}
page {
  padding-top: 128rpx;
}
.steps {
  display: flex;
  justify-content: space-between;
  align-items: center ;
  padding: 0 34rpx;
  font-size: 28rpx;
  font-family: PingFang;
  font-weight: 400;
  color: #e6e6e6;
}
.cu-form-group {
  background-color: unset;
}
.cu-form-group .title {
  font-size: 34rpx;
  font-family: PingFang;
  font-weight: normal;
  color: #333333;
}
.cu-form-group input ::placeholder {
  font-size: 34rpx;
  font-family: PingFang;
  font-weight: 400;
  color: #cccccc;
}
view.sex {
  position: relative;
}
view.sex .sexradio {
  position: absolute;
  left: 237rpx;
}
view.sex span {
  margin-left: 33rpx;
  vertical-align: middle;
  font-size: 34rpx;
  font-family: PingFang SC;
  font-weight: 400;
  color: #333333;
}
.nextbtn {
  position: absolute;
  left: 104rpx;
  bottom: 60rpx;
  width: 543rpx;
  height: 88rpx;
  background: #4178f0;
  border-radius: 44rpx;
  font-size: 36rpx;
  font-family: PingFangSC;
  font-weight: 400;
  color: #ffffff;
}
